.content {
    max-width: 600px;
    margin: 0 auto;
}
.message-panel {
    margin: 150px 0 90px 0;
    text-align: center;
}
.highlight-black {
    color: #fff;
    background-color: #000;
}
.highlight-red {
    color: #fff;
    background-color: #ff0000;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}
a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
}
span {
    font-size: 14px;
    color: #000;
    transition: 0.3s;
}
img {
    width: 70px;
    border-radius: 35px;
    margin: 10px 15px 0 0;
}
table {
    margin: 0;
    float: right;
}
.message-panel span {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 40px;
}